<div>
    <div class="jumbotron text-center w-75 m-auto p-0">
        <h1 class="display-3">Welcome to Eat Da Burger Joint</h1>
        <p class="lead">Craft your Own burger or Devour one of our Signature burgers</p>
        <hr class="my-2">
        <p class="lead p-3">
            <a class="btn btn-primary btn-lg m-2" data-toggle="modal" data-target="#createModal" role="button">Craft your own Burger</a>
        </p>
    </div>
    <div class="w-75 m-auto">

        <div class="customer">
            <form action="/login" method="POST" class="form-group">
                <div class="row justify-content-center align-items-end">
                    <div class="col-6">

                        <label for="name">Log in with your name</label>
                        <input type="text" class="form-control" name="name" placeholder="John Doe" minlength="4" required>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-large btn-dark" type="submit">Log In</button>
                    </div>
                </div>
            </form>

        </div>
    </div>


</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>